<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="5" status="error">
	<Properties>
		<Property name="serverFile">logs/http-server-json.log</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
 		<File name="server" fileName="${serverFile}">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
		<Async name="AsyncServer">
			<AppenderRef ref="server" />
		</Async>
	</Appenders>
	<loggers>
		<logger name="com.http.server.servlets.CartaServlet"
			level="debug" additivity="false">
			<appender-ref ref="AsyncServer" />
			<appender-ref ref="Console" />
		</logger>
		<logger name="com.http.server.servlets.PedidoServlet"
			level="debug" additivity="false">
			<appender-ref ref="AsyncServer" />
			<appender-ref ref="Console" />
		</logger>
		<root level="error">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</Configuration>